
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Assets/Effects/Bonfire.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Assets/Effects/Bonfire/magic-fire.wav.mp3.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Assets/Effects/Bonfire/soulfire.wav.mp3.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Assets/Effects/Bonfire/superfire.wav.mp3.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Assets/Player/kill-success.wav(Parry).mp3.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Asset/{24277080-3566-4f9f-b73d-51720ccc51f4}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/AudioFile/{04aac223-3929-407b-8a0f-edc64469163b}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/AudioFile/{0c619f79-5bac-4324-b927-3029731775e7}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/AudioFile/{1650db5d-6f08-4c51-8747-c33535513e45}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/AudioFile/{27477522-7f37-4314-bc79-f8835eb423df}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{0e7f65b3-6494-48b1-92b9-5efa169727d2}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{3d739683-c03d-473a-af3c-f417106e5cd0}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{570c116a-f21a-413d-b9a6-ba6fe885ff71}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{589d867b-24dc-49b9-b88e-2f8b2adafda4}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{7d8b7059-db30-4f6b-846e-830869021a0d}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{8df0a237-2c44-4c84-b66b-ef742eba533f}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{9b71ee61-3f71-417b-b24c-4bb630589cda}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{a7f5d81d-8f01-4e0e-9ea9-f4e104d3ff99}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{ad321167-f25a-4914-81f3-4202ae0b79e9}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{aefb5684-a613-4787-88fa-c47ae4921441}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{b4e3f17e-2cc0-4338-b664-16040329777b}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{c7023a81-b8d6-49f0-9fe2-56c475555eb0}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{c76ddc64-082e-4068-83fd-f07661c9aacf}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{c816044e-50d7-4b1e-9fa5-e84f2ba9b664}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{c9915d47-634d-4c67-8ad1-71a0add8af46}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{cf1c31e0-9bd3-4bf4-b0c1-edc9d0ef6513}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{cfcdf12d-fa26-4497-b23c-eadb2c00dea2}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{ec74b446-0344-4648-9df2-c316d09441ca}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{f0098f04-09f2-4d56-9469-15ed9199b1c3}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{f60ed29c-91a2-48f2-8599-c3322b5817c1}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/Event/{fb868f55-459b-4128-92eb-1506cec23dd6}.xml.meta
DS1SS_UnityProject/Assets/Plugins/DS1SS_FMOD/Metadata/EventFolder/{267e16a6-dabb-458e-bb32-19e4226987e5}.xml.meta
DS1SS_UnityProject/Assets/StreamingAssets/Ambience.bank
DS1SS_UnityProject/Assets/StreamingAssets/Dialogue.bank
DS1SS_UnityProject/Assets/StreamingAssets/Effects.bank
DS1SS_UnityProject/Assets/StreamingAssets/Master.bank
DS1SS_UnityProject/Assets/StreamingAssets/Master.strings.bank
DS1SS_UnityProject/Assets/StreamingAssets/Music.bank
DS1SS_UnityProject/Assets/StreamingAssets/Ambience.bank
DS1SS_UnityProject/Assets/StreamingAssets/Dialogue.bank
DS1SS_UnityProject/Assets/StreamingAssets/Effects.bank
DS1SS_UnityProject/Assets/StreamingAssets/Master.bank
DS1SS_UnityProject/Assets/StreamingAssets/Master.strings.bank
DS1SS_UnityProject/Assets/StreamingAssets/Music.bank
